<!-- start navigation_include.html -->
<nav>
  <div class="sidebar-module">
  <h4>Projects</h4>
  <ol class="list-unstyled">
		<li><a href="{{ site.base_url }}/project/adminmonitor/adminmonitor.html">AdminMonitor</a></li>
		<li><a href="{{ site.base_url }}/project/laborusb/laborusb.html">LaborUSB</a></li>
		<li><a href="{{ site.base_url }}/project/roomsensor/roomsensor.html">RoomSensor</a></li>
		<li><a href="{{ site.base_url }}/project/wordclock/wordclock.html">WordClock</a></li>
  </ol>
  </div>

  <div class="sidebar-module">
  <h4>Reference</h4>
  <ol class="list-unstyled">
		<li><a href="{{ site.base_url }}/reference/macos-software.html">macOS Software</a></li>
		<li><a href="{{ site.base_url }}/reference/ios-software.html">iOS Software</a></li>
		<li><a href="{{ site.base_url }}/reference/rust-quick-tips.html">Rust Quick Tips</a></li>
		<li><a href="{{ site.base_url }}/reference/commandline-quick-tips.html">Commandline Quick Tips</a></li>
		<li><a href="{{ site.base_url }}/reference/macos-quick-tips.html">macOS Quick Tips</a></li>
		<li><a href="{{ site.base_url }}/reference/linux-quick-tips.html">Linux Quick Tips</a></li>
  </ol>
  </div>

  <div class="sidebar-module">
  <h4>My other pages</h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/uwearzt">GitHub</a></li>
    <li><a href="https://twitter.com/uwearzt">Twitter</a></li>
    <li><a href="https://www.youtube.com/user/uwearzt">YouTube</a></li>
    <li><a href="https://www.xing.com/profile/Uwe_Arzt">XING Profile</a></li>
    <li><a href="https://www.linkedin.com/in/uwearzt/">LinkedIn Profile</a></li>
    <li><a href="https://www.amazon.de/gp/registry/3RK71EFT5L1WS">Amazon Wish List</a></li>
  </ol>
  </div>

  <div class="sidebar-module">
  <h4>Links</h4>
  <ol class="list-unstyled">
    <li><a href="https://www.eevblog.com">EEVBlog</a></li>
    <li><a href="https://www.youtube.com/user/mikeselectricstuff">Mike's Electric Stuff</a></li>
    <li><a href="https://freakshow.fm">Freak Show (German)</a></li>
  </ol>
  </div>

  <div class="sidebar-module">
    <h4>Recent Posts</h4>
    <ol class="list-unstyled">
    {% for post in collections.posts.pages limit:5 %}
			<li><a href="{{ site.base_url }}/{{ post.permalink }}">{{ post.title }}</a></li>
    {% endfor %}
    </ol>
   </div>

  <!--div class="sidebar-module">
  <h4>Categories</h4>
  {% include "_navigation_categories_include.liquid" %}
  </div-->

  <div class="sidebar-module">
  <h4>Feeds</h4>
  <ol class="list-unstyled">
		<li><a href="{{ site.base_url }}/feed.json">JSON</a></li>
  </ol>
  <ol class="list-unstyled">
		<li><a href="{{ site.base_url }}/feed.rss">RSS</a></li>
  </ol>
  </div>

</nav>
<!-- end navigation_include.html -->
