{{ include "_layouts/_page_head_start.liquid" }}

	<title>Uwes Blog | {{ title }}</title>
	{{ include "_layouts/_head_include.liquid" }}

{{ include "_layouts/_page_head_end_body_start.liquid" }}

	<!-- start default.liquid -->
	<div>
		{{ content }}
	</div>
	<!-- end default.liquid -->

{{ include "_layouts/_page_body_end.liquid" }}
