{% include "_page_head_start.liquid" %}

	<title>Uwes Blog | {{ page.title }}</title>
	{% include "_head_include.liquid" %}

{% include "_page_head_end_body_start.liquid" %}

	<!-- start post.liquid -->
	<h2>{{ page.title }}</h2>
	<p>in categories 
    {% for category in page.categories %}
      {% if forloop.last == true %}
	    <b>{{ category }}</b>
      {% else %}
	    <b>{{ category }}</b>, 
      {% endif %}
    {% endfor %}	
	</p>

	<div>
		{{ page.content }}
	</div>
	<!-- end post.liquid -->

{% include "_page_body_end.liquid" %}
